
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: black; */
}

#cabecalho{
    display: flex;
    padding: 0%;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    position: fixed;
    z-index: 4;
    background-color: black;
    
}

body{
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif ;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


#logo{
    font-size: 1.5rem;
    font-weight: bold;
}


#menu{
    display: flex;
    list-style: none;
    gap: .5rem;

    
}

#titulo {
  padding: 1rem;
  font-size: 1rem;
  color: blue;
  /* background: linear-gradient(100deg, #17c7ff 10%, #423eff 100%); */
  font-family:
  font-weight: 900;
  object-position: center;
  transition: all 0.7s ease ;
  cursor: pointer;
}

#titulo:hover{
    color: purple;
    /* background-color:blue; */
    border: dashed 1px red;
}

#sobremim {
  font-size: 1rem;
  color: green;
  /* background-color: brown; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  object-position: center;
}

.icone1 {
    flex-direction: row;
    text-align: center;
    justify-content:space-evenly;
    color: green ;
  font-size: 3rem;
  width: 10%;
  height: 0%;
  object-position: center;
}

#conteinerteste{
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    margin-bottom: 2%;
}

h1{
    
}

h2{
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    margin-bottom: 2%;

}


